In [3]:
import pandas as pd

In [7]:
fd = pd.read_csv("customer_list_updated.csv")

In [8]:
fd

       cust_id|date|time|name|email|phone|sms-opt-out
0    1|2023-03-15|08:45:12|Rachel|rachel@centralper...
1    2|2023-05-22|12:30:45|R&! Geller|rossg@central...
2    3|2023-07-09|18:15:27|Monica Geller|chefmonica...
3    4|2023-09-01|21:05:33|Chandler Bing|chandlerb@...
4    5|2023-11-18|14:22:10|Joey|howyoudoing@central...
..                                                 ...
516  517|2024-02-15|11:30:30|Perry the Platypus|age...
517  518|2024-05-01|15:55:45|Baljeet|baljeet@danvil...
518  519|2023-03-05|09:20:00|Buford|buford@danville...
519  520|2023-05-18|13:45:15|Vanessa D.^|vanessa@da...
520  521|2023-08-01|18:10:30|Linda Flynn-Fletcher|l...

[521 rows x 1 columns]

In [15]:
fd = pd.read_csv('customer_list_updated.csv', delimiter='|')
fd.columns = ['Cust_id', 'Date', 'Time', 'Name', 'Email', 'Phone', 'Sms-opt-out']
fd

,Cust_id,Date,Time,Name,Email,Phone,Sms-opt-out
0,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2,2023-05-22,12:30:45,R&! Geller,rossg@centralperk.coffee,212-555-1002,N
2,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...,...
516,517,2024-02-15,11:30:30,Perry the Platypus,agentp@danvillekids.com,555-555-3206,N
517,518,2024-05-01,15:55:45,Baljeet,baljeet@danvillekids.com,555-555-3207,N
518,519,2023-03-05,09:20:00,Buford,buford@danvillekids.com,555-555-3208,N
519,520,2023-05-18,13:45:15,Vanessa D.^,vanessa@danvillekids.com,555-555-3209,N
520,521,2023-08-01,18:10:30,Linda Flynn-Fletcher,linda@danvillekids.com,555-555-3210,N

In [ ]:
##Name cleanup. Using expressions to ensure names contain only letters, hyphen, and periods.

In [17]:
fd['Name'] = fd['Name'].astype(str).str.replace(r'[^A-Za-z\-\.\s]', '', regex=True)

In [19]:
fd['Name']

0                    Rachel
1                  R Geller
2             Monica Geller
3             Chandler Bing
4                      Joey
               ...
516      Perry the Platypus
517                 Baljeet
518                  Buford
519              Vanessa D.
520    Linda Flynn-Fletcher
Name: Name, Length: 521, dtype: object

In [ ]:
##Standardize phone number to NNN-NNN-NNNN format

In [26]:
import re

In [29]:
def format_phone_number(phone):
    digits = re.sub(r'\D', '', phone)
    if len(digits) == 10:
        return f"{digits[:3]}-{digits[3:6]}-{digits[6:]}"
    return phone

In [31]:
fd['Phone'] = fd['Phone'].apply(lambda x: format_phone_number(x) if pd.notnull(x) else x)

In [32]:
fd['Phone']

0      212-555-1001
1      212-555-1002
2      212-555-1003
3      212-555-1004
4      212-555-1005
           ...
516    555-555-3206
517    555-555-3207
518    555-555-3208
519    555-555-3209
520    555-555-3210
Name: Phone, Length: 521, dtype: object

In [ ]:
## SMS Opt-out Handling, fill in blanks with false

In [36]:
fd['Sms_opt_out'] = fd.get('Sms_opt_out', False)

In [37]:
fd['Sms_opt_out']

0      False
1      False
2      False
3      False
4      False
       ...
516    False
517    False
518    False
519    False
520    False
Name: Sms_opt_out, Length: 521, dtype: bool

In [ ]:
## Saving the cleaned dataframe to a new csv file

In [39]:
fd.to_csv("cleaned_customer_data.csv", index=False)